body {
  margin: 0;
  padding: 0;
}

.all-hikes {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap;
  margin-top: 30px;
}

.oneHike {
  width: 300px; 
  border: 1px solid blue;
  border-radius: 10px;
  background-color: beige;
  margin: 10px; 
  padding: 10px;
  
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.range, .name {
  overflow: hidden;
  word-wrap: break-word;
  line-height:1.5; 
}

.link {
  text-decoration: none; 
}

.hike-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

p {
  padding: 10px;
  line-height: 0.2;
}

@media screen and (max-width: 760px) {
  .name {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word; 
  }

  .all-hikes {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw
  }

}
