.big-mountain-pic {
  width: 57vw;
  margin-top: 50px;
}

.links {
  font-size: 22px;
  text-align: center;
  background-color: #407fca;
  width: 200px;
  border-radius: 5px;
  padding: 20px;
  color: white;
  width: 200px;
}

.Linktohikes {
  text-decoration: none;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 54, 204, 0.1);
}

@media screen and (max-width: 760px) {
  .big-mountain-pic{
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px
  }

  .links {
    font-size: 18px;
  }
}