.main-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    padding-top: 40px
}

.text-container {
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding: 20px;
    align-self: center
}

.text-container p {
    color:white
}

.image-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    padding: 0
  }


  @media screen and (max-width: 760px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        font-size: medium; 
        text-align: center; 
        padding: 10px; 
        align-self: center;
    }

    .image-container {
        align-self: center; 
    }

    .image-container img {
        width: 100%; 
        height: auto; 
    }
}