h1, h2, h3 {
    color: #711eaa;
}

.hiking-logo {
    width: 280px
}

.AppOfTheYear {
    margin-top: 120px;
}

.AppOfTheYear img {
    width: 160px;
    margin-left: 20px;
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 24px; /* Adjust font size for h1 on mobile */
    }

    h2 {
        font-size: 20px; /* Adjust font size for h2 on mobile */
    }

    h3 {
        font-size: 16px; /* Adjust font size for h3 on mobile */
    }

    .hiking-logo {
        width: 100%; /* Make the logo take full width on mobile */
    }

    .AppOfTheYear {
        margin-top: 80px; /* Adjust margin for AppOfTheYear on mobile */
    }

    .AppOfTheYear img {
        width: 120px; /* Adjust image size for AppOfTheYear on mobile */
        margin-left: 10px; /* Adjust margin for AppOfTheYear image on mobile */
    }
}
