body, html {
  margin: 0;
  padding: 0;
}

.carousel-container {
    background: #f1f1f1;
    display: flex;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    margin-left:
  }
  
  .carousel-item {
    height: 15rem;
    min-width: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(1, 0.575, 0.565, 1);
  }
  
  .firstPic {
    width: 100vw;
    margin: 0;
  }