.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f36cc;
  color: white;
  position: relative;
  padding: 10px 0 10px 0;
}

.right {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
  font-size: 18px;
  position: absolute;
  right: 55px;
}

.logo {
  width: 170px;
  margin: 7px 0 7px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help {
  margin-right: 40px;
}

@media screen and (max-width: 760px) {
  .navbar {
    width: 100vw;
    display: flex;
  }
  .right {
    display: none
  }
}
