.random-hikes {
  display: flex;
  flex-direction: row;
}

.link {
  border-radius: 10px;
  background-color: beige;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  overflow: hidden;
  margin: 5px;
}

.hike-image {
  width: 100vw;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.all-hikes {
  margin-bottom: 30px;
  width: 100vw;
}

p {
  padding: 10px;
  line-height: 1.5; 
}



@media screen and (max-width: 760px) {
  .name {
    font-size: 16px;
  }
 
    .oneHike {
      width: 100vw; 
    
    } 
}