.editButton, .deleteButton {
    background-color: #407fca;
    color: white;
    padding: 6px 8px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.editButton:hover,
.deleteButton:hover {
  background-color: #952d99;
}

.reviewText {
    line-height: 1;
}

.deleteButton {
    width: 160px
}

.editButton {
    width: 60px
}

@media screen and (max-width: 760px) {
    .reviewText {
        line-height: 2;
    }
}